Body{
    background-image: url(https://tse2.mm.bing.net/th?id=OIP.QpMsrFM4Xy5RXw1RDsZXzQHaEq&pid=Api&P=0&h=220);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1{
    font-family: 'Roboto Slab', serif;

}
h2{
    font-family: 'Lobster Two', cursive;
    letter-spacing: 1px;
            text-transform: uppercase;

}