Body{
    background-image: url(https://i.pinimg.com/736x/b1/83/5c/b1835c6acdc8a7919136e1847abaceac.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}