Body{
    background-image: url(https://wallpapercave.com/wp/wp2911398.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1{
    font-family: 'Roboto Slab', serif;

}
h2{
    font-family: 'Roboto Slab', serif;
    letter-spacing: 1px;
            text-transform: uppercase;

}